<html>
    <meta name="google-signin-client_id" content="813782014106-ltdme6ehsgmt9pofimbdel2rv7sg6heg.apps.googleusercontent.com">
    <head>
        <script src="https://apis.google.com/js/platform.js" async defer></script>


        <script type="text/javascript">
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/tokensignin');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                  console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send('idtoken=' + id_token);
            }


              function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                  console.log('User signed out.');
                });
              }
</script>
        </script>
    </head>

    <body>
        <div style="">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

            <a href="#" onclick="signOut();">Sign out</a>
        </div>
    </body>


</html>