<html>
    <meta name="google-signin-client_id" content="813782014106-ltdme6ehsgmt9pofimbdel2rv7sg6heg.apps.googleusercontent.com">
    <head>
        <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



        <script type="text/javascript">
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/google_auth_tokensignin');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState==4) {
                        if (xhr.status==200){
                            var response = JSON.parse(xhr.responseText);
                            console.log('successful');
                            console.log('Signed in as: ' + xhr.responseText);
                        }
                        else
                            console.log('failed #a');
                    }
                };

                xhr.send('idtoken=' + id_token);
            }


              function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                  console.log('User signed out.');
                    $.get( "/google_signout", function( data ) {
                      alert( "Load was performed." );
                    });

                });
              }


            function onLoad() {
                  gapi.load('auth2', function() {
                    gapi.auth2.init();
                  });
                }
</script>
        </script>
    </head>

    <body>
        <div style="">

            {% if user %}
                {{ user.name }}
                <br/>
                <a href="#" onclick="signOut();">Sign out</a>
            {% else %}
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            {% endif %}

        </div>
    </body>


</html>