<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/sounds.js"></script>
    <script>
        function beep(sound_str) {
            sounds[sound_str].play();
            console.log(sound_str)
            //snd_airplane.play();
        }

        example = [
            {
                "title": "TITULO1",
                "timers": [
                    {
                        "unit": "s",
                        "time": "2",
                        "sound": "beep",
                        "repeat": true,
                    },
                    {
                        "unit": "s",
                        "time": "3",
                        "sound": "seatbelt",
                        "repeat": false,
                    }
                ],
            },
            {
                "title": "TITULO2",
                "timers": [
                    {
                        "unit": "h",
                        "time": "2:10:20",
                        "sound": "audiofile2.wav",
                        "repeat": false,
                    },
                    {
                        "unit": "m",
                        "time": "1",
                        "sound": "audiofile3.wav",
                        "repeat": true,
                    }
                ],
            },
        ]

        var exec_timers = {};

        // convert any time format to seconds
        any_to_miliseconds = function(time, unit)
        {
            value = 0;

            if (unit == 's') // seconds
            {
                value = parseInt(time) * 1000;
            }
            else if (unit == 'm')
            {
                var values = time.split(':')

                if (values.length > 0)
                    value = parseInt(values[0]) * 60;

                if (values.length > 1)
                    value += parseInt(values[1]);

                value *= 1000;
            }
            else if (unit == 'h')
            {
                var values = time.split(':')
                
                if (values.length > 0)
                    value = parseInt(values[0]) * 3600;

                if (values.length > 1)
                    value += parseInt(values[1]) * 60;
                
                if (values.length > 2)
                    value += parseInt(values[2]);

                value *= 1000;
            }
            else
            {
                console.log('invalid unit')
                return;
            }

            if (isNaN(value))
            {
                console.log('invalid timer value')
                return
            }

            return value;
        }

        create_interval = function(instance, milliseconds, sound, panel_idx, timer_idx, time_seconds)
        {
            return setInterval(function(){
                exec_timers[panel_idx][timer_idx]['time'] = time_seconds;
                instance.timer_logs.push('int ok p:' + panel_idx + '  t:' + timer_idx);
                beep(sound)
            }.bind(instance), time);
        }

        create_timeout = function(instance, milliseconds, sound, panel_idx, timer_idx)
        {
            return setTimeout(function(){
                exec_timers[panel_idx][timer_idx]['status'] = 'finished';
                instance.timer_logs.push('tm ok');
                beep(sound)
            }.bind(instance), time);
        }


        seconds_to_hhmmss = function(seconds)
        {
            hh = 0
            mm = 0
            ss = 0

            while (seconds >= 3600)
            {
                hh += 1
                seconds -= 3600;
            }

            while (seconds >= 60)
            {
                mm += 1;
                seconds -= 60;
            }

            ss = seconds;

            return String(hh).padStart(2, '0') + ':' +
                   String(mm).padStart(2, '0') + ':' +
                   String(ss).padStart(2, '0');
        }

        // main interval, updates countdowns
        scheduler = function() {
            setInterval(function(){
                for (panel_idx in exec_timers)
                {
                    for (timer_idx in exec_timers[panel_idx])
                    {
                        tinfo = exec_timers[panel_idx][timer_idx];
                        if (tinfo['status'] == 'started')
                        {
                            tinfo['time'] = tinfo['time'] - 1;
                            str_time = seconds_to_hhmmss(tinfo['time']);
                            $('#countdown-' + panel_idx + '-' + timer_idx).html(str_time);
                            //console.log('#countdown-' + panel_idx + '-' + timer_idx)
                        }
                    }
                }
            }, 1000);
        }

        window.onload = function ()
        {
            var app6 = new Vue({
                el: '#app-6',
                data: {
                    data: example,
                    timer_logs: ['logs...'],
                },
                methods: {
                    addTimer: function(timers)
                    {
                        timers.push({
                            "unit": "",
                            "time": "",
                            "sound": "",
                            "repeat": false,
                        })
                    },
                    addPanel: function()
                    {
                        panel = {
                            "title": "NewPanel",
                            "timers": [],
                        }

                        this.addTimer(panel["timers"])
                        this.data.push(panel)
                    },
                    removeTimer: function(timers, index)
                    {
                        timers.splice(index, 1)
                    },
                    removePanel: function(panels, index)
                    {
                        panels.splice(index, 1)
                    },
                    startTimers: function(panel_index)
                    {
                        this.stopTimers(panel_index);
                        exec_timers[panel_index] = {}

                        for (timer_index in this.data[panel_index]['timers'])
                        {
                            timer = this.data[panel_index]['timers'][timer_index];
                            time = any_to_miliseconds(timer.time, timer.unit);
                            var time_seconds = parseInt(time / 1000.)

                            if (timer.repeat)
                            {
                                var sound_str = this.data[panel_index]['timers'][timer_index]['sound'];
                                t = create_interval(this, time, sound_str, panel_index, timer_index, time_seconds)
                                exec_timers[panel_index][timer_index] = {'type': 'i', 'var': t, 'status': 'started', 'time': time_seconds};;
                            }
                            else
                            {
                                var sound_str = this.data[panel_index]['timers'][timer_index]['sound'];
                                t = create_timeout(this, time, sound_str, panel_index, timer_index,)
                                exec_timers[panel_index][timer_index] = {'type': 't', 'var': t, 'status': 'started', 'time': time_seconds}
                            }
                        }

                    },
                    stopTimers: function(panel_index)
                    {
                        if (panel_index in exec_timers)
                        {
                            for (var timer_ in exec_timers[panel_index])
                            {
                                if (exec_timers[panel_index][timer_]['type'] === "i")
                                    clearInterval(exec_timers[panel_index][timer_]['var']);
                                else
                                    clearTimeout(exec_timers[panel_index][timer_]['var']);
                            }
                        }


                    }
                }
            });

            scheduler();
        }
    </script>

    <style>
        .tpanel {
            background: #f00
        }

        .ttitle {
            background: #0f0
        }

        .trow {
            background: #00f
        }

        .tlogs {
            background: #000;
            color: #FFF;
        }
    </style>
</head>

<body>
    <div id="app-6">
        <button v-on:click="addPanel()">+ panel</button>
        <div v-for="(panel, panel_idx) in data" class="tpanel">
            <div class="ttitle">
                <input type="text" v-model="panel.title" />
                <div><a href="#" v-on:click="removePanel(data, index)">x</a></div>
            </div>
            <div v-for="(timer, index) in panel.timers" class="trow">
                <div>
                    <select v-model="timer.unit">
                        <option value="s">seconds</option>
                        <option value="m">minutes</option>
                        <option value="h">hours</option>
                    </select>
                </div>
                <div><input v-model="timer.time" /></div>
                <div>
                    <select v-model="timer.sound">
                        <option value="beep">Beep</option>
                        <!-- <option value="audiofile1.wav">Good Morning</option> -->
                        <option value="seatbelt">Seat Belt</option>
                        <!-- <option value="audiofile3.wav">Chicken</option> -->
                    </select>
                </div>
                <div>
                    <input type="checkbox" v-model="timer.repeat" />
                </div>
                <div :id="'countdown-' + panel_idx + '-' + index">00:00:00</div>
                <div><a href="#" v-on:click="removeTimer(panel.timers, index)">x</a></div>
            </div>
            <button v-on:click="addTimer(panel.timers)">+ timer</button>
            <button v-if="true" v-on:click="startTimers(panel_idx)">start</button>
            <button v-if="true" v-on:click="stopTimers(panel_idx)">stop</button>
        </div>
        <div v-for='text in timer_logs' class="tlogs">
            <div>{{ text }}</div>
        </div>
    </div>
</body>
</html>

