<html>
<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/sounds.js"></script>
    <script>
        function beep() {
            sounds['beep'].play();
            //snd_airplane.play();
        }

        example = [
            {
                "title": "TITULO1",
                "timers": [
                    {
                        "unit": "s",
                        "time": "3",
                        "sound": "audiofile0.wav",
                        "repeat": true,
                    },
                    // {
                    //     "unit": "m",
                    //     "time": "01:30",
                    //     "sound": "audiofile1.wav",
                    //     "repeat": true,
                    // }
                ],
            },
            {
                "title": "TITULO2",
                "timers": [
                    {
                        "unit": "h",
                        "time": "2:10:20",
                        "sound": "audiofile2.wav",
                        "repeat": false,
                    },
                    {
                        "unit": "m",
                        "time": "1",
                        "sound": "audiofile3.wav",
                        "repeat": true,
                    }
                ],
            },
        ]

        var exec_timers = {};

        // convert any time format to seconds
        any_to_miliseconds = function(time, unit)
        {
            value = 0;

            if (unit == 's') // seconds
            {
                value = parseInt(time) * 1000;
            }
            else if (unit == 'm')
            {
                // accepts: 99, 99:99

            }
            else if (unit == 'h')
            {

            }
            else
            {
                console.log('invalid unit')
                return;
            }

            if (isNaN(value))
            {
                console.log('invalid timer value')
                return
            }

            return value;
        }

        window.onload = function ()
        {
            var app6 = new Vue({
                el: '#app-6',
                data: {
                    data: example,
                    timer_logs: ['logs...'],
                },
                methods: {
                    addTimer: function(timers)
                    {
                        timers.push({
                            "unit": "",
                            "time": "",
                            "sound": "",
                            "repeat": false,
                        })
                    },
                    addPanel: function()
                    {
                        panel = {
                            "title": "NewPanel",
                            "timers": [],
                        }

                        this.addTimer(panel["timers"])
                        this.data.push(panel)
                    },
                    removeTimer: function(timers, index)
                    {
                        timers.splice(index, 1)
                    },
                    removePanel: function(panels, index)
                    {
                        panels.splice(index, 1)
                    },
                    startTimers: function(panel_index)
                    {
                        this.stopTimers(panel_index);
                        exec_timers[panel_index] = {}

                        for (timer_index in this.data[panel_index]['timers'])
                        {
                            timer = this.data[panel_index]['timers'][timer_index];
                            time = any_to_miliseconds(timer.time, timer.unit);

                            if (timer.repeat)
                            {
                                t = setInterval(function(){ this.timer_logs.push('int ok'); beep() }.bind(this), time);
                                exec_timers[panel_index][timer_index] = {'type': 'i', 'var': t}
                            }
                            else
                            {
                                t = setTimeout(function() { this.timer_logs.push('tmo ok'); beep() }.bind(this), time);
                                exec_timers[panel_index][timer_index] = {'type': 't', 'var': t}
                            }
                        }

                    },
                    stopTimers: function(panel_index)
                    {
                        if (panel_index in exec_timers)
                        {
                            for (var timer_ in exec_timers[panel_index])
                            {
                                if (exec_timers[panel_index][timer_]['type'] === "i")
                                    clearInterval(exec_timers[panel_index][timer_]['var']);
                                else
                                    clearTimeout(exec_timers[panel_index][timer_]['var']);
                            }
                        }


                    }
                }
            });
        }
    </script>

    <style>
        .tpanel {
            background: #f00
        }

        .ttitle {
            background: #0f0
        }

        .trow {
            background: #00f
        }

        .tlogs {
            background: #000;
            color: #FFF;
        }
    </style>
</head>

<body>
    <div id="app-6">
        <button v-on:click="addPanel()">+ panel</button>
        <div v-for="(panel, panel_idx) in data" class="tpanel">
            <div class="ttitle">
                <input type="text" v-model="panel.title" />
                <div><a href="#" v-on:click="removePanel(data, index)">x</a></div>
            </div>
            <div v-for="(timer, index) in panel.timers" class="trow">
                <div>
                    <select v-model="timer.unit">
                        <option value="s">seconds</option>
                        <option value="m">minutes</option>
                        <option value="h">hours</option>
                    </select>
                </div>
                <div><input v-model="timer.time" /></div>
                <div>
                    <select v-model="timer.sound">
                        <option value="audiofile0.wav">Beep</option>
                        <option value="audiofile1.wav">Good Morning</option>
                        <option value="audiofile2.wav">Seat Belt</option>
                        <option value="audiofile3.wav">Chicken</option>
                    </select>
                </div>
                <div>
                    <input type="checkbox" v-model="timer.repeat" />
                </div>
                <div><a href="#" v-on:click="removeTimer(panel.timers, index)">x</a></div>
            </div>
            <button v-on:click="addTimer(panel.timers)">+ timer</button>
            <button v-if="true" v-on:click="startTimers(panel_idx)">start</button>
            <button v-if="true" v-on:click="stopTimers(panel_idx)">stop</button>
        </div>
        <div v-for='text in timer_logs' class="tlogs">
            <div>{{ text }}</div>
        </div>
    </div>
</body>
</html>

