        <div class="">
            <div id="id_model_row" class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>

                        <div id="timers_container">

                        </div>

                        <br /> 

                         <div class="row justify-content-between">
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" onclick="teste2()">+</button>
                            </div>
                            <div class="col text-right">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary">Start</button>
                                    <button type="button" class="btn btn-primary">Stop</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>