<div class="row mx-0">
    <div class="col px-1">
        <input id="id_time" type="text" class="form-control form-control-sm">
    </div>
    <div class="col px-1">
        <select id="id_repeat" class="form-control form-control-sm"> 
            <option>Seconds</option>
            <option>Minutes</option>
            <option>Hours</option>
        </select>
    </div>
    <div class="col px-1">
        <select  id="id_sound" class="form-control form-control-sm">
            <option>Audio1</option>
        </select>
    </div>
    <div class="col-2 px-1 text-right">
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-sm btn-info active">
            <input id="id_repeat" type="checkbox" checked autocomplete="off"> Repetir
          </label>
        </div>
    </div>
</div>